.bunny {
  position: absolute; /* Position the bunny absolutely */
  right: 0; /* Align to the right side of the canvas */
  top: 0; /* Align to the top of the canvas */
  margin: 75px; /* Margin from the top and right */
  display: flex;
  justify-content: flex-end; /* Aligns content to the right */
}

.head {
  width: 230px;
  height: 200px;
  border: 1px solid white;
  background: #ECEFF1;
  border-radius: 42%;
  box-shadow: 4px 4px 75px 20px #eedd82, -4px -4px 75px 20px #eedd82;
}

.ear {
  position: absolute;
  width: 60px;
  height: 90px;
  border: 1px solid transparent;
  background: #ECEFF1;
  border-radius: 50% 50% 15% 15%;
  transform: rotate(-30deg);
}

.ear.right {
  height: 100px;
  top: 25%; /* Adjusted from -75% to align with the head */
  left: 75%; /* Adjusted from 75% to correctly position */
  transform: rotate(30deg);
  animation-name: ear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.ear-pink {
  width: 45px;
  height: 70px;
  border: 1px solid transparent;
  background: pink;
  border-radius: 70% 70% 15% 15%;
  left: 10%;
  top: 10%;
}

.eye {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid transparent;
  background: black;
}

.eye.right {
  left: 50%; /* Adjusted to center align with the head */
  top: 25%; /* Adjusted to align vertically */
}

.eye:after {
  display: block;
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid transparent;
  background: #ECEFF1;
  border-radius: 50%;
  top: 15%;
  left: 15%;
}

.mouth {
  position: absolute;
  width: 10%;
  height: 10%;
  border-radius: 20% 20% 100% 100%;
  border: 1px solid transparent;
  background: pink;
  top: 50%; /* Adjusted for vertical alignment */
  left: 45%; /* Adjusted to center horizontally */
}

@keyframes ear {
  0% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(30deg);
  }
}

.rabbit-show {
  opacity: 1 !important;
  right: 0 !important;
  transition: all 2s;
}
